*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { overflow-x: hidden; }
.title{
 display: flex;
 justify-content: space-between;
}

body{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    height: -webkit-fill-available;
    color: black;
    background-size: cover;
    background-position: center center;
    background-image: url("/assets/images/overlay.png");  
    transition: background-image 1s ease-in-out;
    overflow: hidden;
  }
  .box{
    
    text-align: end;
    height: 20px;
  }
  .time{
  
    height: 20px;
    letter-spacing: -5px;
    position: fixed;
  }
  .city{
    text-align: right;
    width: 100px;
    height: 20px;
  }
  .btn {
    width: 60px;
    height: 60px;
    border: 0;
    background: black;
    color: white;
    /* background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(1);
    margin: 10px;
    
  }
 
  .btn:hover {
    filter: grayscale(.8);
    cursor: pointer;
    background-color:#16a085;
    transition-duration: 1s;
  }
  .focus{
    height: 40px;
  }
  .btn:active,
  .btn:focus {
    outline: 0;
  }
  .btn:active{
    transform: scale(1.02)
  }

.time {
    font-size: 8rem;
  
    margin: auto;
  }
  
  h1 {
    margin-bottom: 3rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;
    opacity: 0.8;
  }




  .quote {
  font: 1.2rem Georgia, serif;
  margin: 0;
  background: #eee;
  padding: 1em;
  height: 300px;
  /* border-radius: 1em; */
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
.quote figcaption {
  text-align: right;
}
.btn-text {
  width: 60px;
  height: 60px;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin: 10px;
}
.blockquote{
  height: 20px;
}
.btn-text:hover {
  filter: grayscale(.8);
  cursor: pointer;
    /* background-color:#16a085; */
    transition-duration: 1s;
}
.btn-text:active,
.btn-text:focus {
  outline: 0;
}
.btn-text:active{
  transform: scale(1.02)
}
.focus{
  height: 50px;
}


  @media (max-width: 1200px) {
    .time {
      font-size: 6rem;
    }
  }